<!--
<a href="/filmes/3/" class="movie-link">
    <!-- Filme 2
    <div class="movie-card" data-category="action">
        <div class="movie-poster"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWW192rWnZEqlV6mSQugd2UNlebMqwgi9mgFHea3ttN9U30QONDbtTvAjX&s=10"
                alt=""></div>
        <div class="movie-info">
            <h3 class="movie-title">Mad Max: Estrada da Fúria</h3>
            <div class="movie-meta">
                <span class="tag">Ação</span>
                <span class="rating">★ 8.1</span>
            </div>
        </div>
    </div>
</a>
 -->