<!-- CABEÇALHO -->
<header>
    <div class="container header-content">
        <div class="logo">CineCatalogo
        </div>

        <!-- Barra de Filtros -->
        <div class="controls">
            <button class="filter-btn active" onclick="filterMovies('all', this)">Todos</button>
            <button class="filter-btn" onclick="filterMovies('action', this)">Ação</button>
            <button class="filter-btn" onclick="filterMovies('scifi', this)">Ficção</button>
            <button class="filter-btn" onclick="filterMovies('drama', this)">Drama</button>
        </div>
    </div>
</header>