{% extends "filmes/pages/base.html" %}
{% block title%}{{ filme.title }}{% endblock %}
{% block content %}

<section class="movie-detail">
    <div class="movie-detail-poster">
        <img src="{{ filme.imagem_capa.url }}" alt="{{ filme.title }}">
    </div>

    <div class="movie-detail-content">
        <span class="detail-tag">{{ filme.categoria.nome }}</span>
        <h1>{{ filme.title }}</h1>

        <div class="movie-detail-meta">
            <span>★ 8.1</span>
            <span>{{filme.ano_lancamento}}</span>
            <span>{{filme.duracao}}h 32m</span>
        </div>

        <p class="sinopse">
            {{ filme.sinopse }}
        </p>

        <ul class="detail-list">
            <li><strong>Direção:</strong>{{ filme.diretor}}</li>
            <li><strong>Elenco:</strong>Leonardo Dicaprio, Mark Rufallo</li>
        </ul>

        <div class="detail-actions">
            <a href="#" class="btn btn-primary">Assistir trailer</a>
            <a href="{% url 'home' %}" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</section>
{% endblock %}